//
   Created by maxime on 11/07/15.
block accordion
    #accordion.row
        div.card-panel.hoverable
            ul.collapsible.popout(data-collapsible="accordion")
                h4 !{t.filter_title}
                i#remove.material-icons.tooltipped.btn.white(data-position="right", data-tooltip="#{t.poubelle}") delete
                div#help_filter.card.blue-grey.darken-1.help
                    div.card-content.white-text
                        span.card-title !{t.Filters}
                            i.material-icons info
                        p !{t.filtersHelp}
                li
                    div.collapsible-header !{t.appFilter}
                        i.material-icons.tiny view_list
                    div.collapsible-body
                        ul#appsFilter
                li
                    div.collapsible-header !{t.locationFilter}
                        i.material-icons.tiny location_on
                    div.collapsible-body
                        ul#locationFilter
                li
                    div.collapsible-header !{t.timeFilter}
                        i.material-icons.tiny av_timer
                    div.collapsible-body
                        div.switch
                            label !{t.printUnTimes}
                                input#timeFilter.filter.time(type='checkbox')
                                span.lever
                h4 !{t.privacy_params_title}
                div#help_parameters.card.blue-grey.darken-1.help
                    div.card-content.white-text
                        span.card-title !{t.privacySettings}
                            i.material-icons info
                        p !{t.privacySettingsHelp}
                li
                    div.collapsible-header !{t.unApps}
                        i.material-icons.tiny not_interested
                    div.collapsible-body
                        include accordion_content/apps
                li
                    div.collapsible-header !{t.auTimes}
                        i.material-icons.tiny query_builder
                    div.collapsible-body
                        include accordion_content/times
                li
                    div.collapsible-header !{t.auLocations}
                        i.material-icons.tiny my_location
                    div.collapsible-body
                        include accordion_content/location
