//Created by Maxime on 20/07/2015.


#screenshotsView.row
    div#help_screenshots.card.blue-grey.darken-1.help
        div.card-content.white-text
            span.card-title !{t.screenshots}
                i.material-icons info
            p !{t.screenshotsHelp}
    div.boutons-line.row
        #remove.btn-floating.waves-effect.waves-light.red.accent-4.tooltipped(data-position="left", data-tooltip="#{t.poubelle}")
            i.material-icons delete

        #settings.btn-floating.waves-effect.waves-light.grey.darken-3.tooltipped.modal-trigger(data-position="bottom", data-tooltip="#{t.settings}" data-target="settingsModal")
            i.material-icons settings

        #help.btn-floating.waves-effect.waves-light.green.darken-3.tooltipped(data-position="bottom", data-tooltip="#{t.showHelp}")
            i.material-icons live_help


    #settingsModal.modal
        div.modal-content
            h4 !{t.settings}
            div.row
                div.col.s8.offset-s2
                    h6 !{t.chooseFolderLocation}
                    #error
                    ul.collapsible(data-collapsible="accordion")
                        li
                           .collapsible-header
                               i.small.material-icons
                                |info
                               | !{t.tips}
                           .collapsible-body
                               p !{t.tipsContent}
                    br
                    .input-field
                        input#filePath(type="text", placeholder="#{t.enterYourSelfspylocation}")
                        label(for='filePath') !{t.folderPath}
                    .input-field
                        input#getFile(type="file", webkitdirectory directory)
                    .right-align
                        button.btn.waves-effect.waves-light#submitNewPath(type="submit", name="action") !{t.submit}


        div.modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") Close

    #previousContext.col.s3
        img.smallSCS(src="").row
        div.appName

    div#mainContext.card.col.s6.hoverable
        div.card-image.waves-effect.waves-block.waves-light.center-align
            img#bigScreenShot(src="images/tuto.png").materialboxed
        div.card-content(style="display : none;")
            span.card-title.activator.grey-text.text-darken-4
                i.material-icons.right more_vert
                #date
                    span
                p#mainAppName.truncate
        div.card-reveal
            span.card-title.grey-text.text-darken-4
                i.material-icons.right close
            #windowTitle
            #runningApps

    #nextContext.col.s3
        img.smallSCS(src="")
        div.appName

    a#removeRange.waves-effect.waves-light.btn.red.darken-4 !{t.removeRangeData}

#sliders.row
    div.arrow.col.s1.left <
    div.col.s11
        #sliderSVG.row
            svg.mainSVG
        #bigSlider.row
    div.arrow.col.s1.right >


#slidersLegend
    p(style="position:absolute;-webkit-user-select:none;-webkit-touch-callout:none;font-size:10px;background:transparent;") !{t.location}
    p(style="position:absolute;-webkit-user-select:none;-webkit-touch-callout:none;font-size:10px;background:transparent;top: 20px;") !{t.time}
    p(style="position:absolute;-webkit-user-select:none;-webkit-touch-callout:none;font-size:10px;background:transparent; top:59px") !{t.apps}

script.
    $('#getFile').change(function(){
        var path = this.value;
    $('#filePath').val(path);
    });

    //TODO check if it is a good location

    $("#submitNewPath").click(function(){
        var newLoc = $("#filePath").val();
        $.get("/setSelfspyFolderLocation", {path:newLoc}, function(data){
            if(data.status == "ko"){
                $("#error").attr("class", "card-panel red accent-4")
                        .text("#{t.errorSelfspyFolder}" + data.error.code);
                return;

            }
            localStorage.setItem("SELFSPY_PATH", newLoc);
            $("#error").attr("class", "card-panel light-green lighten-2")
                    .text("#{t.successFolderChange}");
            setTimeout(function () {
                document.location.href = "http://localhost:2323/";
            }, 4000);
        });

    });

div#help_smallSlider.card.blue-grey.darken-1.help
    div.card-content.white-text
        span.card-title !{t.smallSlider}
            i.material-icons info
        p !{t.smallSliderHelp}

div#help_bigSlider.card.blue-grey.darken-1.help
    div.card-content.white-text
        span.card-title !{t.bigSlider}
            i.material-icons info
        p !{t.bigSliderHelp}